pkgbase = semgrep-bin
	pkgdesc = Fast and syntax-aware semantic code pattern search for many languages: like grep but for code
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/returntocorp/semgrep
	arch = x86_64
	license = LGPL2.1
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-boltons
	depends = python-colorama
	depends = python-click
	depends = python-click-option-group
	depends = python-glom
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-tqdm
	depends = python-packaging
	depends = python-jsonschema
	depends = python-wcmatch
	depends = python-peewee
	depends = python-defusedxml
	depends = python-urllib3
	depends = python-typing_extensions
	depends = python-lsp-jsonrpc
	depends = python-tomli
	provides = semgrep
	options = !strip
	source = https://github.com/returntocorp/semgrep/releases/download/v1.1.0/semgrep-v1.1.0-ubuntu-16.04.tgz
	source = https://files.pythonhosted.org/packages/source/s/semgrep/semgrep-1.1.0.tar.gz
	sha256sums = 76d385e27652a1e084a48aea2772ebc3a22a4c0845dcde4e6cec65fed47a76bc
	sha256sums = 608b1406a6772b2ecba03f71ec4eeeb0a8003bd19aac27c40b960c76a3251ece

pkgname = semgrep-bin
