pkgbase = semgrep-bin
	pkgdesc = Fast and syntax-aware semantic code pattern search for many languages: like grep but for code
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/returntocorp/semgrep
	arch = x86_64
	license = LGPL2.1
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-boltons
	depends = python-colorama
	depends = python-click
	depends = python-click-option-group
	depends = python-glom
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-tqdm
	depends = python-packaging
	depends = python-jsonschema
	depends = python-wcmatch
	depends = python-peewee
	depends = python-defusedxml
	depends = python-urllib3
	depends = python-typing_extensions
	depends = python-lsp-jsonrpc
	depends = python-tomli
	provides = semgrep
	options = !strip
	source = https://github.com/returntocorp/semgrep/releases/download/v1.3.0/semgrep-v1.3.0-ubuntu-16.04.tgz
	source = https://files.pythonhosted.org/packages/source/s/semgrep/semgrep-1.3.0.tar.gz
	sha256sums = 51d08450991fe2171f17896aea17f899f34ca65c115ac0321daca55121cd29db
	sha256sums = 04792ba4e7b4d0c6cfd3a13908d6658ee249dfd8d0313f9c39db49300ce4b3b3

pkgname = semgrep-bin
